*{
    margin: 0px;
    padding: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#container-sign_up{
    text-align: center;
    border: 1px solid gray;
    height:400px;
    width: 400px;
    border-radius: 10px;
    margin-left: 38%;
    margin-top: 8%;
    padding-top: 40px;
}

#container-sign_in{
    text-align: center;
    border: 1px solid gray;
    height:200px;
    width: 400px;
    padding: 5px;
    border-radius: 10px;
    margin-left: 38%;
    margin-top: 8%;
    padding-top: 40px;
}

h2{
    color: rgba(67, 67, 219, 0.823);
}

#form{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
label{
    text-align: start;
}
input{
    height: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    padding: 5px;
    text-align: start;
}
/* .input{
    padding-left: 10px;
} */
/* input:hover{
    border-radius: 20px;
    border-top: 1px solid gray;
} */
input::placeholder{
    opacity: 5px;
}
.user-info{
    padding: 5px;
    margin-bottom: 12px;
    text-align: center;
}
#btn-create-account,#btn-sign_in{
    height: 30px;
    color: white;
    width: max-content;
    padding: 8px;
    text-decoration: none;
    background-color: rgba(67, 67, 219, 0.823);
    border-radius: 20px;
}

/*Dashboard style*/

#container-dashboard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 1px 2px 2px 1px rgb(0 0 0 / 10%);
    width: 100%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 43.3%;
    padding: 12px;
}

header a{
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
    color: black;
}
header a:hover{
    color: rgba(67, 67, 219, 0.823);
    border-bottom: 1px solid rgba(67, 67, 219, 0.823);
}
#site_name{
    margin: 15px;
}

.btn_header{
     margin: 15px;
     height: 25px;
     width: 80px;
     background-color:rgba(67, 67, 219, 0.823);
     border-radius: 20px;
     padding: 5px;
     text-align: center;
     outline: none;
     text-decoration: none;
     color: white;
     font-size: 20px;
}
.btn_header:hover{
    background-color: rgba(67, 67, 219, 0.965);
}